/* Start variables */
:root {
--main-color: #10cab7;
--secondary-color: #2c4755;
--section-padding: 60px;
}
/* End variables */ 

/* Start global rules */
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
.parent {
  background-color: #eee;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
/* End global rules */

/* Start components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  text-align: center;
  color: #797979;
  margin: -30px 0 0;
  font-size: 20px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px
  }
}
/* End components */

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */

/* Start header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  width: 60px;
}
header .container .links {
  position: relative;
}
header .container .links:hover {
  cursor: pointer;
}

header .container .links:hover ul {
  display: block;
}
header .container .links .icon {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header .container .links .icon span {
  background-color: black;
  height: 2px;
}
header .container .links .icon span:not(:last-child) {
  margin-bottom: 5px;
}

header .container .links .icon span:first-child {
  width: 100%
}
header .container .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
header .container .links .icon span:last-child {
  width: 100%
}
header .container .links:hover .icon span:nth-child(2) {
  width: 100%
}
header .links ul {
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    min-width: 180px;
    display: none;
    transition: 0.3s;
    z-index: 1;
}
header .links ul::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .links ul li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #333;
  transition: .3s;
}
header .links ul li a:hover {
  padding-left: 25px
}
header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd
}
/* End header */
/* Start landing section */
.landing {
  background-image: url(../Images/assets/mountain.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color)
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  max-width: 100%; 
  width: 320px
}
/* End landing section */
/* Start features */

.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .container .feat {
  padding: 20px;
  text-align: center;
}
.feat i {
  color: var(--main-color);
  font-size: 30px
}
.feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

/* End features */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .services-content .box {
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .box i {
  color: var(--main-color);
  width: 60px;
}
.services .services-content .text h3 {
  margin: 0 0 20px;
}
.services .services-content .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content img {
  width: 260px
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  right: 0;
  top: -40px;
  height: calc(100% + 80px);
  width: 120px;
  z-index: -1;
}

@media (max-width: 767px) {
  .services .services-content .box {
    flex-direction: column;
    text-align: center;
}
  .services .services-content .box i {
    margin-bottom: 20px
  }
  .services .services-content {
    padding: 0 20px 0;
  }
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* End Services */
/* Start portfolio */
.portfolio {
  background-color: #f6f6f6;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.portfolio .portfolio-content .card  {
  background-color: white;
}
@media (max-width: 1199px) {
  .portfolio .portfolio-content .card {
    text-align: center;
  }
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
  height: 250px;
}
.portfolio .portfolio-content .card .info {
  padding: 20px
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0
}
.portfolio .portfolio-content .card .info p {
  margin-bottom: 0;
  line-height: 1.6;
  color: #777;
}
/* End portfolio */
/* Start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .about .about-content {
    text-align: center;
    flex-direction: column;
  }
}
.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
  z-index: 3
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  left: -20px;
  top: -40px;
  height: calc(100% + 80px);
  width: 100px;
  background-color: #ebeced;;
  z-index: -1;

}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before, 
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p {
  line-height: 2;
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  color: #777
}



/* End about */